body {
	background-color: black;
	font: 1.3rem Inconsolata, monospace;
}
::selection {
  background: #0080FF;
  text-shadow: none;
}

pre {
  margin: 0;
}

#console {
	font-family: courier, monospace;
	color: #fff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size:14px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#g {
	color: #13A10E;
}

#b {
	color: #0037DA;
}

#m {
	color: #FF55FF;
}

#k {
    	animation: change 1s;
}
#r {
	color: #C50F1F;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
